*{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
h1{
  background-color: black;
  color: white;
  height: 10rem;
  line-height: 10rem;
  font-size: 60px;
  

}
.choice{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
 
}
img{
  height: 250px;
  width: 250px;
  transform: rotate(270deg);
  object-fit: cover;
  border-radius: 50%;
  
}
.choice:hover{
  cursor: pointer;
  background-color: rgb(187, 83, 170);
}
#scissor{
  height: 230px;
  width: 230px;
  padding: 20px 5px;
}
.choices{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 40px;
}
.score-board{
  display: flex;
  justify-content: center;
  font-size: 6rem;
  align-items: center;
  margin-top: 3rem;
  gap: 3rem;
}
#user-score,#comp-score{
  font-size: 8rem;
}
.msg-container{
  font-size: 5rem;
  margin-top: 5rem;
}
#msg{
  background-color: black;
  color: white;
  display: inline;
  padding: 2rem 2rem;
  border-radius: 10px ;
}